<!--
<nb-card size="large">
  <nb-card-header class="nb-card-header-qb">
    打印接种记录
  </nb-card-header>
  <nb-card-body>
    <nb-alert *ngIf="error" class="flex-row" outline="warning" closable (close)="closeAlert()">
      打印机连接失败，请安装<a href="http://www.lodop.net/download.html" target="_blank">Lodop</a>插件
    </nb-alert>
    <nb-tabset *ngIf="!prePage" (changeTab)="changeTab($event)">
      <nb-tab *ngFor="let item of vaccRecordData; index as i;" [tabTitle]="showPageSize(item)"
              style="padding: 10px 0;"
      >
        <nz-table
          nzBordered
          #recordData1
          [nzData]="item.data"
          [nzShowPagination]="false"
        >
          <thead>
          <tr>
            <th></th>
            <th [nzAlign]="'center'">疫苗名称</th>
            <th [nzAlign]="'center'">针次</th>
            <th [nzAlign]="'center'">接种时间</th>
            <th [nzAlign]="'center'">接种部位</th>
            <th [nzAlign]="'center'">疫苗批号</th>
            <th [nzAlign]="'center'">有效期</th>
            <th [nzAlign]="'center'">生产企业</th>
            <th [nzAlign]="'center'">接种单位</th>
            <th [nzAlign]="'center'">接种人员</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let d of recordData1.data">
            <td [nzShowCheckbox]="true" [(nzChecked)]="d.checked" (nzCheckedChange)="secondCheck()"></td>
            <td [nzAlign]="'center'">{{d.vaccineBroadHeadingCode | vacBroadHeadingPipe}}</td>
            <td [nzAlign]="'center'">{{d.vaccinateInjectNumber}}</td>
            <td [nzAlign]="'center'">{{d.vaccinateTime | date: 'yyyy-MM-dd'}}</td>
            <td [nzAlign]="'center'">{{d.vaccinatePart | dicPipe:'vaccinatePart'}}</td>
            <td [nzAlign]="'center'">{{d.vaccineBatchNo}}</td>
            <td [nzAlign]="'center'">{{d.loseEfficacyDate | date: 'yyyy-MM-dd'}}</td>
            <td [nzAlign]="'center'">{{d.vaccineManufactureCode | manufacturePipe}}</td>
            <td [nzAlign]="'center'">{{d.actualVaccinatePovCode | povNamePipe | async}}</td>
            <td [nzAlign]="'center'">{{d.vaccinateDoctorCode}}</td>
          </tr>
          </tbody>
        </nz-table>
      </nb-tab>
    </nb-tabset>
    <nz-table
      nzBordered
      #vaccRecord
      [nzData]="vaccinateRecord?.historyRecordData"
      [nzShowPagination]="false"
      [nzPageIndex]="pageIndex"
      style="width: 100%;"
      *ngIf="prePage">
      <thead>
      <tr>
        <th></th>
        <th [nzAlign]="'center'">疫苗名称</th>
        <th [nzAlign]="'center'">针次</th>
        <th [nzAlign]="'center'">接种时间</th>
        <th [nzAlign]="'center'">接种部位</th>
        <th [nzAlign]="'center'">疫苗批号</th>
        <th [nzAlign]="'center'">有效期</th>
        <th [nzAlign]="'center'">生产企业</th>
        <th [nzAlign]="'center'">接种单位</th>
        <th [nzAlign]="'center'">接种人员</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let d of vaccRecord?.data">
        <td [nzShowCheckbox]="true" [(nzChecked)]="d.checked" (nzCheckedChange)="refreshStatus()"></td>
        <td [nzAlign]="'center'">{{d.vaccineBroadHeadingCode | vacBroadHeadingPipe}}</td>
        <td [nzAlign]="'center'">{{d.vaccinateInjectNumber}}</td>
        <td [nzAlign]="'center'">{{d.vaccinateTime | date: 'yyyy-MM-dd'}}</td>
        <td [nzAlign]="'center'">{{d.vaccinatePart | dicPipe:'vaccinatePart'}}</td>
        <td [nzAlign]="'center'">{{d.vaccineBatchNo}}</td>
        <td [nzAlign]="'center'">{{d.loseEfficacyDate | date: 'yyyy-MM-dd'}}</td>
        <td [nzAlign]="'center'">{{d.vaccineManufactureCode | manufacturePipe}}</td>
        <td [nzAlign]="'center'">{{d.actualVaccinatePovCode | povNamePipe | async}}</td>
        <td [nzAlign]="'center'">{{d.vaccinateDoctorCode}}</td>
      </tr>
      </tbody>
    </nz-table>

  </nb-card-body>
  <nb-card-footer>
    <div class="form-group row" *ngIf="prePage">
      <div class="col-md-5 row">
        <label class="col-3 col-form-label text-right">证件类型:</label>
        <div class="col-9">
          <nb-select placeholder="请选择证件类型" minlength="100" fullWidth outline status="info"
                     [(selected)]="chooseType">
            <nb-option [value]="item.value" *ngFor="let item of vaccinateRecord?.vaccCertificateType"
                       (click)="savePrintModel(item.value)">{{item.label}}</nb-option>
          </nb-select>
        </div>
      </div>
      <div class="col-md-3">
        <button nbButton status="info" class="mr-4" *ngIf="showNextStep" (click)="nextStep()">下一步</button>
        <button nbButton status="info" class="mr-4" (click)="onClose()">关闭</button>
      </div>
    </div>
    <div *ngIf="!prePage">
      <div class="form-group row">
        <div class="col-md-3 row">
          <label class="col-6 col-form-label">上页边距(mm):</label>
          <div class="col-6">
            <input type="number" [min]="0" fullWidth nbInput value="0" [(ngModel)]="settings.marginTop">
          </div>
        </div>
        <div class="col-md-3 row">
          <label class="col-6 col-form-label">左页边距(mm):</label>
          <div class="col-6">
            <input type="number" [min]="0" fullWidth nbInput value="0" [(ngModel)]="settings.marginLeft">
          </div>
        </div>
        <div class="col-md-3 row">
          <label class="col-5 col-form-label text-right">医生姓名:</label>
          <div class="col-7">
            <nb-select placeholder="请选择" minlength="100" fullWidth outline status="info" [(selected)]="doctorName">
              <nb-option [value]="item.value" *ngFor="let item of doctorNames">{{item.label}}</nb-option>
            </nb-select>
          </div>
        </div>
        <div class="col-md-3 row" *ngIf="currentTab === '空白页'">
          <label class="col-6 col-form-label text-right">请选择开始行:</label>
          <div class="col-6">
            <input type="number" [min]="1" fullWidth nbInput value="0" [(ngModel)]="settings.startLine">
          </div>
        </div>
        <div class="col-md-3">
          <button nbButton status="info" (click)="saveSetting()">保存设置</button>
        </div>
      </div>
      <div class="form-group row">
        <button nbButton status="info" class="mr-4 ml-3" (click)="preStep()">上一步</button>
        <button nbButton status="info" class="mr-4" (click)="print(true)">打印预览</button>
        <button nbButton status="info" class="mr-4" (click)="print(false)">直接打印</button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>
-->
<nb-tabset style="width: 100%;" *ngIf="!vaccinateRecord?.prePage" (changeTab)="changeTab($event)">
  <nb-tab *ngFor="let item of vaccinateRecord?.vaccRecordData; index as i;" [tabTitle]="showPageSize(item)"
          style="padding: 10px 0;">
    <nz-table
      nzBordered
      #recordData1
      [nzData]="item.data"
      style="width: 100%;"
      [nzShowPagination]="false"
    >
      <thead>
      <tr>
        <!--<th
          nzShowCheckbox
          [(nzChecked)]="isAllChecked"
          (nzCheckedChange)="vaccineCheckAll($event)"
        ></th>-->
        <th></th>
        <th [nzAlign]="'center'">疫苗名称</th>
        <th [nzAlign]="'center'">针次</th>
        <th [nzAlign]="'center'">接种时间</th>
        <th [nzAlign]="'center'">接种部位</th>
        <th [nzAlign]="'center'">疫苗批号</th>
        <th [nzAlign]="'center'">有效期</th>
        <th [nzAlign]="'center'">生产企业</th>
        <th [nzAlign]="'center'">接种单位</th>
        <th [nzAlign]="'center'">接种人员</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let d of recordData1.data">
        <td nzShowCheckbox [(nzChecked)]="d.checked" (nzCheckedChange)="secondCheck()"></td>
        <td [nzAlign]="'center'">{{d.vaccineBroadHeadingCode | vacBroadHeadingPipe}}</td>
        <td [nzAlign]="'center'">{{d.vaccinateInjectNumber}}</td>
        <td [nzAlign]="'center'">{{d.vaccinateTime | date: 'yyyy-MM-dd'}}</td>
        <td [nzAlign]="'center'">{{d.vaccinatePart | dicPipe:'vaccinatePart'}}</td>
        <td [nzAlign]="'center'">{{d.vaccineBatchNo}}</td>
        <td [nzAlign]="'center'">{{d.loseEfficacyDate | date: 'yyyy-MM-dd'}}</td>
        <td [nzAlign]="'center'">{{d.vaccineManufactureCode | manufacturePipe}}</td>
        <td [nzAlign]="'center'">{{d.actualVaccinatePovCode | povNamePipe | async}}</td>
        <td [nzAlign]="'center'">{{d.vaccinateDoctorName}}</td>
      </tr>
      </tbody>
    </nz-table>
  </nb-tab>
</nb-tabset>
<nz-table
  nzBordered
  #vaccRecord
  [nzData]="vaccinateRecord?.historyRecordData"
  [nzShowPagination]="false"
  [nzFrontPagination]="false"
  style="width: 100%;"
  *ngIf="vaccinateRecord?.prePage">
  <thead>
  <tr>
    <th
      nzShowCheckbox
      [(nzChecked)]="isAllDisplayDataChecked"
      (nzCheckedChange)="checkAll($event)"
    ></th>
    <th [nzAlign]="'center'">疫苗名称</th>
    <th [nzAlign]="'center'">针次</th>
    <th [nzAlign]="'center'">接种时间</th>
    <th [nzAlign]="'center'">接种部位</th>
    <th [nzAlign]="'center'">疫苗批号</th>
    <th [nzAlign]="'center'">有效期</th>
    <th [nzAlign]="'center'">生产企业</th>
    <th [nzAlign]="'center'">接种单位</th>
    <th [nzAlign]="'center'">接种人员</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let d of vaccRecord?.data">
    <td [nzShowCheckbox]="true" [(nzChecked)]="d.checked" (nzCheckedChange)="refreshStatus()"></td>
    <td [nzAlign]="'center'">{{d.vaccineBroadHeadingCode | vacBroadHeadingPipe}}</td>
    <td [nzAlign]="'center'">{{d.vaccinateInjectNumber}}</td>
    <td [nzAlign]="'center'">{{d.vaccinateTime | date: 'yyyy-MM-dd'}}</td>
    <td [nzAlign]="'center'">{{d.vaccinatePart | dicPipe:'vaccinatePart'}}</td>
    <td [nzAlign]="'center'">{{d.vaccineBatchNo}}</td>
    <td [nzAlign]="'center'">{{d.loseEfficacyDate | date: 'yyyy-MM-dd'}}</td>
    <td [nzAlign]="'center'">{{d.vaccineManufactureCode | manufacturePipe}}</td>
    <td [nzAlign]="'center'">{{d.actualVaccinatePovCode | povNamePipe | async}}</td>
    <td [nzAlign]="'center'">{{d.vaccinateDoctorName}}</td>
  </tr>
  </tbody>
</nz-table>

