<form nz-form [formGroup]="stockSearchForm" class="ant-advanced-search-form">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8">
      <nz-form-item class="m-0">
        <nz-form-label nzSpan="8">疫苗名称</nz-form-label>
        <nz-form-control nzSpan="16">
          <nz-select nzShowSearch nzAllowClear formControlName="vaccineSubclassCode" nzPlaceHolder="请选择">
            <nz-option [nzLabel]="'请选择'" [nzValue]="'null'"></nz-option>
            <nz-option *ngFor="let s of subclassCodeOptions" [nzLabel]="s.label" [nzValue]="s.value"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item class="m-0">
        <nz-form-label nzSpan="8">生产企业</nz-form-label>
        <nz-form-control nzSpan="16">
          <nz-select nzShowSearch nzAllowClear formControlName="manufactureCode" nzPlaceHolder="请选择">
            <nz-option [nzLabel]="'请选择'" [nzValue]="'null'"></nz-option>
            <nz-option *ngFor="let m of manufactureOptions" [nzLabel]="m.name" [nzValue]="m.code"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <!--<div nz-col [nzSpan]="8">
      <nz-form-item class="m-0">
        <nz-form-label nzSpan="8">疫苗剂量</nz-form-label>
        <nz-form-control nzSpan="16">
          <nz-select nzShowSearch nzAllowClear formControlName="dose" nzPlaceHolder="请选择">
            <nz-option [nzLabel]="'请选择'" [nzValue]="'null'"></nz-option>
            <nz-option nzLabel="一类" nzValue="0"></nz-option>
            <nz-option nzLabel="二类" nzValue="1"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>-->
    <div nz-col [nzSpan]="8">
      <nz-form-item class="m-0">
        <nz-form-label nzSpan="8">疫苗剂型</nz-form-label>
        <nz-form-control nzSpan="16">
          <nz-select nzShowSearch nzAllowClear formControlName="doseType" nzPlaceHolder="请选择">
            <nz-option [nzLabel]="'请选择'" [nzValue]="'null'"></nz-option>
            <nz-option *ngFor="let d of doseTypeOptions" [nzLabel]="d.label" [nzValue]="d.value"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item class="m-0">
        <nz-form-label nzSpan="8">容器类型</nz-form-label>
        <nz-form-control nzSpan="16">
          <nz-select nzShowSearch nzAllowClear formControlName="containerType" nzPlaceHolder="请选择">
            <nz-option [nzLabel]="'请选择'" [nzValue]="'null'"></nz-option>
            <nz-option *ngFor="let c of containerTypeOptions" [nzLabel]="c.label" [nzValue]="c.value"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>
<div class="mb-2">
  <button class="mr-2" nz-button (click)="queryStock()" nzType="primary">查询</button>
  <button nz-button nzType="primary" (click)="closeDialog()">关闭窗口</button>
</div>
<nz-table nzSize="small" #vac [nzData]="vaccineData" [nzTotal]="total" [nzFrontPagination]="false"
          (nzPageIndexChange)="queryStock($event)"
          [nzLoading] = "loading"
          nzBordered="true"
          [nzShowTotal]="totalTemplate" [(nzPageIndex)]="pageIndex">
  <thead>
    <tr>
      <th>操作</th>
      <th>疫苗小类</th>
      <th>疫苗名称</th>
      <th>疫苗类型</th>
      <th>生产企业</th>
      <th>规格</th>
      <th>剂型</th>
      <th>剂量</th>
      <th>容器类型</th>
      <th>批准文号</th>
      <th>大包装(支(粒)/箱)</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of vac.data;index as i">
    <td nzShowCheckbox
        [(nzChecked)]="data.checked"
        [nzDisabled]="data.disabled"
        (nzCheckedChange)="addVaccine($event, data)">
      <span *ngIf="data.disabled">已添加</span>
    </td>
    <td>{{data.vaccineSubclassCode}}</td>
    <td>{{data.vaccineSubclassName}}</td>
    <td>{{data.type | planTypePipe }}</td>
    <td>{{data.companyName}}</td>
    <td>{{data.spec}}</td>
    <td>{{data.doseType}}</td>
    <td>{{data.dose}}</td>
    <td>{{data.containerType}}</td>
    <td>{{data.customBillNo}}</td>
    <td [innerHTML]="data.largePackage"></td>
  </tr>
  </tbody>
</nz-table>


<ng-template #totalTemplate>共{{ total }}条数据，当前第{{ pageIndex }}页</ng-template>

