<nz-card style="width:100%;" nzTitle="分地区出入库明细查询">
  <form nz-form [formGroup]="queryForm" class="ant-advanced-search-form">
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="8">
        <nz-form-item class="m-0">
          <nz-form-label [nzSpan]="8" nzFor="address" nzRequired>地区</nz-form-label>
          <nz-form-control [nzSpan]="16" nzErrorTip="请选择地区">
            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
              <input id="address"
                     [value]="queryForm.get('address').value"
                     readonly formControlName="address" type="text" nz-input placeholder="请选择"/>
            </nz-input-group>
            <ng-template #suffixIconButton>
              <button nz-button (click)="selectAddress()" nzType="primary" nzSearch><i nz-icon
                                                                                       nzType="search"></i>
              </button>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item class="m-0">
          <nz-form-label [nzSpan]="8" nzFor="grade">查询范围</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <nz-checkbox-group formControlName="grade" [(ngModel)]="checkOptionsOne">
            </nz-checkbox-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item class="m-0">
          <nz-form-label [nzSpan]="8" nzFor="batchNo">批号</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <input
              nz-input
              placeholder="请输入批号"
              formControlName="batchNo"
              id="batchNo"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="8">
        <nz-form-item class="m-0">
          <nz-form-label [nzSpan]="8" nzFor="vaccineType">疫苗属性</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="请选择" id="vaccineType"
                       formControlName="vaccineType">
              <nz-option nzLabel="一类" nzValue="0"></nz-option>
              <nz-option nzLabel="二类" nzValue="1"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item class="m-0">
          <nz-form-label [nzSpan]="8" nzFor="vaccineSubclassCode">疫苗名称</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="请选择" id="vaccineSubclassCode"
                       formControlName="vaccineSubclassCode">
              <nz-option [nzLabel]="item.label" [nzValue]="item.value" *ngFor="let item of vacSubClassData"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item class="m-0">
          <nz-form-label [nzSpan]="8" nzFor="manufactureCode">生产企业</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="请选择" id="manufactureCode"
                       formControlName="manufactureCode">
              <nz-option [nzLabel]="item.name" [nzValue]="item.code" *ngFor="let item of manufactureData"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="8">
        <nz-form-item class="m-0">
          <nz-form-label [nzSpan]="8" nzFor="outboundDate">出入库日期(起)</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <nz-date-picker style="width: 100%;" id="outboundDate" formControlName="outboundDate"
                            [nzDisabledDate]="disabledStart"
                            nzAllowClear="false"
                            nzPlaceHolder="出入库起始日期"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item class="m-0">
          <nz-form-label [nzSpan]="8" nzFor="outboundDateBreak">出入库日期(止)</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <nz-date-picker style="width: 100%;" id="outboundDateBreak"
                            formControlName="outboundDateBreak"
                            [nzDisabledDate]="disabledStart"
                            nzAllowClear="false"
                            nzPlaceHolder="出入库起始日期"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item class="m-0">
          <nz-form-label [nzSpan]="8" nzFor="orderNo">出入库单号</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <input
              nz-input
              placeholder="请输入出入库单号"
              formControlName="orderNo"
              id="orderNo"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="8">
        <nz-form-item class="m-0">
          <nz-form-label [nzSpan]="8" nzFor="orderType">出入库类型</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="请选择" id="orderType"
                       formControlName="orderType">
              <nz-option [nzLabel]="item.label" [nzValue]="item.value" *ngFor="let item of orderTypes"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item class="m-0">
          <nz-form-label [nzSpan]="8" nzFor="orderStatus">出入库状态</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <nz-select nzMode="multiple" nzShowSearch nzAllowClear nzPlaceHolder="请选择" id="orderStatus"
                       formControlName="orderStatus">
              <nz-option [nzLabel]="item.label" [nzValue]="item.value" *ngFor="let item of pfOrderStatus"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <!--<div class="mb-2">
        <button nz-button [nzType]="'primary'" (click)="queryData()" [disabled]="loading">查询</button>
        <button nz-button (click)="resetForm()" class="ml-2 mr-2">重置</button>
        <button nz-button [nzType]="'primary'" class="ml-2 mr-2">导出</button>
        <button nz-button [nzType]="'primary'" *ngIf="!updateData?.vaccName">打印</button>
        <button nz-button [nzType]="'primary'" *ngIf="updateData?.vaccName" (click)="goBack()">返回</button>
      </div>-->

    </div>
   <div nz-row>
      <div nz-col [nzSpan]="24" class="search-area">
        <button nz-button [nzType]="'primary'" (click)="queryData()" [disabled]="loading">查询</button>
        <button nz-button (click)="resetForm()" class="ml-2 mr-2">重置</button>
        <button nz-button [nzType]="'primary'" class="ml-2 mr-2">导出</button>
        <button nz-button [nzType]="'primary'" *ngIf="!updateData?.vaccName">打印</button>
        <button nz-button [nzType]="'primary'" *ngIf="updateData?.vaccName" (click)="goBack()">返回</button>
      </div>
    </div>
  </form>
</nz-card>
<nz-card style="margin-top: 20px;">
  <div class="mb-2" *ngIf="!updateData?.vaccName">
    <p class="float-right font-weight-bolder mt-1">  成本总金额：{{priceSum ? priceSum.costSum : 0}} / 售价总金额：{{priceSum ? priceSum.priceSum : 0}} /
      总数量：{{priceSum ? priceSum.sumNum : 0}}</p>
  </div>
  <nz-table #editRowTable nzBordered
            nzSize="small"
            [nzFrontPagination]="false"
            [nzTotal]="total"
            [nzLoading]="loading"
            [(nzPageIndex)]="pageIndex"
            [nzShowTotal]="totalTemplate"
            (nzPageIndexChange)="queryData($event)"
            [nzData]="listOfData">
    <thead>
    <tr>
      <th [nzAlign]="'center'">编号</th>
      <th [nzAlign]="'center'">疫苗名称</th>
      <th [nzAlign]="'center'">生产企业</th>
      <th [nzAlign]="'center'">规格</th>
      <th [nzAlign]="'center'">批号</th>
      <th [nzAlign]="'center'">疫苗属性</th>
      <th [nzAlign]="'center'">出入库日期</th>
      <th [nzAlign]="'center'">有效期</th>
      <th [nzAlign]="'center'">出入库单号</th>
      <th [nzAlign]="'center'">出入库类型</th>
      <th [nzAlign]="'center'">供货单位</th>
      <th [nzAlign]="'center'">收货单位</th>
      <th [nzAlign]="'center'">成本价</th>
      <th [nzAlign]="'center'">出售价</th>
      <th [nzAlign]="'center'">数量(支或粒)</th>
      <th [nzAlign]="'center'">金额</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of editRowTable.data; index as i">
      <td [nzAlign]="'center'">{{ (pageIndex - 1) * pageSize + i + 1 }}</td>
      <td [nzAlign]="'center'">{{data.vaccName}}</td>
      <td [nzAlign]="'center'">{{data.manufactureName}}</td>
      <td [nzAlign]="'center'">{{data.spec | dicPipe: 'pfVaccineSpecification'}}</td>
      <td [nzAlign]="'center'">{{data.batchNo}}</td>
      <td [nzAlign]="'center'">{{data.vaccineType | dicPipe: 'vaccineType'}}</td>
      <td [nzAlign]="'center'">{{data.orderDate | date: 'yyyy-MM-dd'}}</td>
      <td [nzAlign]="'center'">{{data.outBoundDate | date: 'yyyy-MM-dd'}}</td>
      <td [nzAlign]="'center'">{{data.orderNo}}</td>
      <td [nzAlign]="'center'">{{data.orderType | dicPipe: 'pfOrdertype'}}</td>
      <td [nzAlign]="'center'">{{data.supplyorgName}}</td>
      <td [nzAlign]="'center'">{{data.receiveorgName}}</td>
      <td [nzAlign]="'center'">{{data.orignPrice}}</td>
      <td [nzAlign]="'center'">{{data.sellPrice}}</td>
      <td [nzAlign]="'center'">{{data.vaccNum}}</td>
      <td [nzAlign]="'center'">{{data.money}}</td>
    </tr>
    </tbody>
  </nz-table>
  <ng-template #totalTemplate let-type let-page="page">
    共{{ total }}条数据，当前第{{ pageIndex }}页
  </ng-template>
</nz-card>


