  <form nz-form [formGroup]="orderForm" class="preventForm">
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="12">
        <nz-form-item class="m-0">
          <nz-form-label [nzSpan]="4" nzFor="">订单号</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <input type="text" readonly id="orderNo" nz-input
                   formControlName="orderNo" >
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item class="m-0">
          <nz-form-label [nzSpan]="8" nzFor="orderStatus">订单状态</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <nz-select formControlName="orderStatus" id="orderStatus" style="width: 165px">
              <nz-option [nzLabel]="orderForm.get('orderStatus').value | dicPipe: 'pfOrderStatus'"
                         [nzValue]="orderForm.get('orderStatus').value"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="12">
        <nz-form-item class="m-0">
          <nz-form-label [nzSpan]="4" nzFor="inDate">出入库日期</nz-form-label>
          <nz-form-control [nzSpan]="20">
            <nz-date-picker nzDateFullCell formControlName="orderDate" id="orderDate"
                            nzAllowClear="false"
                            nzFormat="yyyy-MM-dd"
                            readonly
                            nzShowTime></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item class="m-0">
          <nz-form-label [nzSpan]="8" nzFor="orderType">类型</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <nz-select formControlName="orderType" id="orderType" style="width: 165px">
              <nz-option [nzLabel]="orderForm.get('orderType').value | dicPipe: 'pfOrdertype'"
                         [nzValue]="orderForm.get('orderType').value"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24" *ngIf="querydetailParam.orderType === '0'">
      <div nz-col [nzSpan]="12">
        <nz-form-item class="m-0">
          <nz-form-label [nzSpan]="4" nzFor="">使用单位</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <input type="text" readonly id="createorgName" nz-input
                   formControlName="createorgName">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item class="m-0">
          <nz-form-label [nzSpan]="8" nzFor="supplier">填报人</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <input type="text" id="entrystaffName" nz-input formControlName="entrystaffName" readonly>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24"
         *ngIf="querydetailParam.orderType === '9' || querydetailParam.orderType === '7'|| querydetailParam.orderType === '8'|| querydetailParam.orderType === '5'">
      <div nz-col [nzSpan]="12">
        <nz-form-item class="m-0">
          <nz-form-label [nzSpan]="4" nzFor="">供货单位</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <input type="text" readonly id="supplyorgName" nz-input
                   formControlName="supplyorgName">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item class="m-0">
          <nz-form-label [nzSpan]="8" nzFor="supplier">供货单位经手人</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <input type="text" id="consignorName" nz-input formControlName="consignorName" readonly>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24"
         *ngIf="querydetailParam.orderType === '9' || querydetailParam.orderType === '7'|| querydetailParam.orderType === '8'|| querydetailParam.orderType === '5'">
      <div nz-col [nzSpan]="12">
        <nz-form-item class="m-0">
          <nz-form-label [nzSpan]="4" nzFor="receiveorgName">收货单位</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <input type="text" readonly id="receiveorgName" nz-input
                   formControlName="receiveorgName">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item class="m-0">
          <nz-form-label [nzSpan]="8" nzFor="consigneeName">收货单位经手人</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <input type="text" id="consigneeName" nz-input formControlName="consigneeName" readonly>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24"
         *ngIf="querydetailParam.orderType === '9' || querydetailParam.orderType === '7'|| querydetailParam.orderType === '8'|| querydetailParam.orderType === '5'">
      <div nz-col [nzSpan]="12">
        <nz-form-item class="m-0">
          <nz-form-label [nzSpan]="4" nzFor="transportation">疫苗运输工具</nz-form-label>
          <nz-form-control class="d-flex" [nzSpan]="20">
            <nz-radio-group id="transportation" formControlName="transportation">
              <label nz-radio [nzValue]="r.value"
                     *ngFor="let r of transportationOptions"
              >{{r.label}}</label>
              <div class="d-inline-block position-relative">
                <input type="text" nz-input
                       *ngIf="orderForm.get('transportation').value === '3'"
                       formControlName="otherTransportation">
              </div>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item class="m-0">
          <nz-form-label [nzSpan]="8" nzFor="refrigerateType">疫苗冷藏方式</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <nz-radio-group id="refrigerateType" formControlName="refrigerateType"
            >
              <label *ngFor="let r of refrigerateTypeOptions" nz-radio [nzValue]="r.value">{{ r.label }}</label>
              <div class="d-inline-block position-relative">
                <input type="text"
                       nz-input
                       *ngIf="orderForm.get('refrigerateType').value === '3'"
                       formControlName="otherRefrigerateType">
              </div>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="12">
        <nz-form-item class="m-0">
          <nz-form-label [nzSpan]="4" nzFor="vaccineType">疫苗类型</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <nz-radio-group id="vaccineType" formControlName="vaccineType">
              <label nz-radio nzValue="0">一类</label>
              <label nz-radio nzValue="1">二类</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="24">
      <div nz-col nzSpan="24">
        <nz-form-item class="m-0">
          <nz-form-label [nzSpan]="2" nzFor="memo">备注信息</nz-form-label>
          <nz-form-control nzSpan="21">
          <textarea
            nz-input
            id="memo"
            formControlName="memo"
            placeholder="请输入备注信息"
            [nzAutosize]="{ minRows: 2, maxRows: 6 }"
          ></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
  <nz-divider></nz-divider>
  <nz-table nzBordered #batch [nzData]="vaccData" nzSize="small">
    <thead>
    <tr>
      <th [nzAlign]="'center'">疫苗名称/注射器类型</th>
      <th [nzAlign]="'center'">疫苗属性</th>
      <th [nzAlign]="'center'">疫苗生产企业</th>
      <th [nzAlign]="'center'">批号</th>
      <th [nzAlign]="'center'">批签发证号</th>
      <th [nzAlign]="'center'">规格(剂/支/粒)</th>
      <th [nzAlign]="'center'">剂量</th>
      <th [nzAlign]="'center'">有效日期</th>
      <th [nzAlign]="'center'">数量</th>
      <th [nzAlign]="'center'">出库价</th>
      <th [nzAlign]="'center'">成本价</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of batch.data">
      <td [nzAlign]="'center'">{{data.vaccName}}</td>
      <td [nzAlign]="'center'">{{data.vaccineType | dicPipe: 'vaccineType'}}</td>
      <td [nzAlign]="'center'">{{data.manufactureName}}</td>
      <td [nzAlign]="'center'">{{data.batchNo}}</td>
      <td [nzAlign]="'center'">{{data.certifiCode}}</td>
      <td [nzAlign]="'center'">{{data.spec}}</td>
      <td [nzAlign]="'center'">{{data.dose}}</td>
      <td [nzAlign]="'center'">{{data.loseEfficacyDate | date: 'yyyy-MM-dd'}}</td>
      <td [nzAlign]="'center'">{{data.vaccNum}}</td>
      <td [nzAlign]="'center'">{{data.sellPrice}}</td>
      <td [nzAlign]="'center'">{{data.orignPrice}}</td>
    </tr>
    </tbody>
  </nz-table>
  <nz-divider></nz-divider>


