<div class="row">
	<div class="col-12">
		<uea-obsvaccinate-call-bar></uea-obsvaccinate-call-bar>
	</div>
</div>
<div class="row">
	<div class="col-3">
		<uea-vaccinate-queue-list class="uea-vaccinate"></uea-vaccinate-queue-list>
	</div>
	<div class="col-9">
		<uea-vaccinate-base-info class="uea-vaccinate"></uea-vaccinate-base-info>
		<uea-vaccinate-injection-list class="uea-vaccinate"></uea-vaccinate-injection-list>
		<uea-vaccinate-multiple-doses-list class="uea-vaccinate"></uea-vaccinate-multiple-doses-list>
		<uea-vaccinate-history-list class="uea-vaccinate"></uea-vaccinate-history-list>
	</div>
</div>
