<nb-card size="xlarge" class="nb-card-container-sm">
  <nb-card-header class="nb-card-header-qb">
    AEFI(不良反应)列表 -- {{ profile ? profile.name : '' }}
    <span class="float-right mr-3 cursor-pointer" (click)="onClose()"><i class="far fa-times-circle"></i></span>
  </nb-card-header>
  <nb-card-body>
    <nz-spin [nzSpinning]="loading">
      <nb-alert outline="info"
                class="text-center"
                *ngIf="!loading && data.length === 0">
        <div class="text-center">
          没有查到数据，请<a href="javascript:" (click)="queryAefiRecord()">重试</a>
        </div>
      </nb-alert>
      <div class="text-right mb-3">
        <button (click)="addRecord()" status="info" nbButton><span><i class="fas fa-plus"></i></span>添加记录</button>
      </div>
      <nz-table #contraTable
                nzBordered
                nzNoResult="暂时没有数据"
                [nzData]="data"
                [nzShowPagination]="true" [nzSize]="'small'">
        <thead>
        <tr>
          <th>接种时间</th>
          <th>接种POV</th>
          <th>出现AEFI的日期</th>
          <th>与接种时间间隔</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of contraTable.data"
            nz-popover
            nzPlacement="bottomLeft" nzTitle="详情"
            [nzContent]="contentTemplate" (mouseover)="select(data)">
          <td>{{ data.inoculateDate | date: 'yyyy-MM-dd HH:mm' }}</td>
          <td>{{ data.vacPovCode | povNamePipe | async}}</td>
          <td>{{ data.aefiDate | date: 'yyyy-MM-dd HH:mm' }}</td>
          <td>{{ data.period }}</td>
          <td>
            <a class="link-a" (click)="update(data)">修改</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a class="link-a" nz-popconfirm nzTitle="确定删除数据吗?" (nzOnConfirm)="delete(data)">删除</a>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </nz-spin>
  </nb-card-body>
  <nb-card-footer class="text-center">
    <button nbButton status="info" (click)="onClose()">关闭</button>
  </nb-card-footer>
</nb-card>

<ng-template #contentTemplate>
  <ul style="list-style-type: none;">
    <li>AEFI编码：{{ contentData.aefiDate | date: 'yyyy-MM-dd HH:mm'}}</li>
    <li>接种时间：{{ contentData.inoculateDate }}</li>
    <li>接种POV：{{ contentData.vacPovCode | povNamePipe | async}}</li>
    <li>出现AEFI的日期：{{ contentData.aefiDate | date: 'yyyy-MM-dd HH:mm'}}</li>
    <li>与接种时间间隔：{{ contentData.period }}</li>
    <li>创建人：{{ contentData.createBy }}</li>
    <li>创建时间：{{ contentData.createDate | date: 'yyyy-MM-dd HH:mm' }}</li>
  </ul>
</ng-template>

