<nb-card class="nb-card-container-sm">
  <nb-card-header class="nb-card-header-qb">
    {{updateData ? '修改门诊信息' : '新增'}}
    <span class="float-right mr-3 cursor-pointer" (click)="onClose()"><i class="far fa-times-circle"></i></span>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="addPovForm">
      <div class="form-group row">
        <label class="col-form-label col-md-4 text-right label-required">
          <span class="star-required"></span>门诊编码：</label>
        <div class="col-md-4">
          <input type="text" nbInput outline fullWidth
                 [status]="addPovForm.get('povCode').invalid && addPovForm.get('povCode').touched ? 'danger' : ''"
                 formControlName="povCode" id="povCode"/>
          <uea-show-form-errors [control]="addPovForm.get('povCode')"></uea-show-form-errors>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-4 text-right label-required">
          <span class="star-required"></span>门诊简称：</label>
        <div class="col-md-4">
          <input type="text" nbInput outline fullWidth
                 [status]="addPovForm.get('povShort').invalid && addPovForm.get('povShort').touched ? 'danger' : ''"
                 formControlName="povShort" id="povShort">
          <uea-show-form-errors [control]="addPovForm.get('povShort')"></uea-show-form-errors>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-4 text-right label-required">
          <span class="star-required"></span>门诊全称：</label>
        <div class="col-md-4">
          <input type="text" nbInput outline fullWidth
                 [status]="addPovForm.get('fullName').invalid && addPovForm.get('fullName').touched ? 'danger' : ''"
                 formControlName="fullName" id="fullName">
          <uea-show-form-errors [control]="addPovForm.get('fullName')"></uea-show-form-errors>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-4 text-right">备注：</label>
        <div class="col-md-4">
          <textarea nbInput formControlName="memo" id="memo" fullWidth placeholder="请输入......"></textarea>
        </div>
      </div>
    </form>
    <div class="text-center">
      <button nbButton status="info" (click)="savePovInfo()">保存</button>
    </div>
  </nb-card-body>
</nb-card>
