<div class="signature-wrap">
  <div class="sign-pad">
    <canvas #sigPad id="myCanvas" [width]="canvasWidth" [height]="canvasHeight"
            (mousedown)="onMouseDown($event)"
            (mousemove)="onMouseMove($event)"
            (touchstart)="onTouchDown($event)"
            (touchmove)="onTouchMove($event)"
    ></canvas>
    <br/>
  </div>
  <br/>
  <div class="bottom-btn">
    <button weui-button style="margin: 10px 20px;" (click)="clear()">清除</button>
    <button weui-button style="margin: 10px 20px;" (click)="save()">确定</button>
  </div>
</div>
