<nb-card>
  <nb-card-header>
    修改密码
    <span class="cursor-pointer" (click)="closeDialog()"><i class="far fa-times-circle"></i></span>
  </nb-card-header>
  <nb-card-body>
    <form>
      <div class="form-group row">
        <label class="col-4 col-form-label">输入原密码:</label>
        <div class="col-8">
          <input type="password" placeholder="输入原密码" nbInput>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-4 col-form-label">输入新密码:</label>
        <div class="col-8">
          <input type="password" placeholder="输入新密码" nbInput>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-4 col-form-label">确认新密码:</label>
        <div class="col-8">
          <input type="password" placeholder="重复新密码" nbInput>
        </div>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton status="info" (click)="closeDialog()">取消</button>
    <button nbButton status="info" (click)="closeDialog()">保存</button>
  </nb-card-footer>
</nb-card>
