<form  nz-form [formGroup]="modifyOrAddFrom" >
  <div class="form-group row">
    <label for="facilityName" class="col-sm-2 col-form-label text-right label-required">设备：</label>
    <div class="col-sm-4">
      <nz-select formControlName="facilityName" id="facilityName" (ngModelChange)="selectFacilityCode($event)" nzSize="large" nzShowSearch nzAllowClear nzPlaceHolder="请选择" >
        <nz-option *ngFor="let v of deviceOptions"  [nzLabel]="v.facilityName + v.factoryNum" [nzValue]="v.facilityName + v.factoryNum"></nz-option>
      </nz-select>
      <uea-show-form-errors [control]="modifyOrAddFrom.get('facilityName')"></uea-show-form-errors>
    </div>

    <label for="facilityCode" class="col-sm-2 col-form-label text-right label-required">设备编号：</label>
    <div class="col-sm-4">
      <input nz-input readonly nzSize="large" type="text" formControlName="facilityCode" id="facilityCode" >
      <uea-show-form-errors [control]="modifyOrAddFrom.get('facilityCode')"></uea-show-form-errors>
    </div>

  </div>


  <div class="form-group row">

    <label class="col-sm-2 col-form-label text-right">损坏日期：</label>
    <div class="col-sm-4">
      <nz-date-picker [nzDisabledDate]="filterHandleDate" nzSize="large"  nzFormat="yyyy-MM-dd HH:mm:ss"
                      formControlName="breakdownDate" id="breakdownDate" nzPlaceHolder="选择时间"></nz-date-picker>
    </div>

    <label class="col-sm-2 col-form-label text-right">修复日期：</label>
    <div class="col-sm-4">
      <nz-date-picker [nzDisabledDate]="filterHandleDate" nzSize="large"  nzFormat="yyyy-MM-dd HH:mm:ss"
                      formControlName="repairDate" id="repairDate" nzPlaceHolder="选择时间"></nz-date-picker>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label text-right label-required">是否修复：</label>
    <div class="col-sm-4">
      <nz-select formControlName="isRepaired" nzSize="large" nzShowSearch nzAllowClear nzPlaceHolder="请选择" >
        <nz-option *ngFor="let v of isRepairOptions"  [nzLabel]="v.label" [nzValue]="v.value"></nz-option>
      </nz-select>
      <uea-show-form-errors [control]="modifyOrAddFrom.get('isRepaired')"></uea-show-form-errors>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label text-right">备注信息：</label>
    <div class="col-sm-10">
       <textarea
         nz-input
         id="cause"
         formControlName="cause"
         placeholder="请输入备注信息"
         [nzAutosize]="{ minRows: 2, maxRows: 6 }"
       ></textarea>
    </div>
  </div>



</form>
<div class="text-right">
  <button nz-button [nzLoading]="loading" nzType="primary" (click)="saveOrEdit()">保存</button>
  <button nz-button nzType="default" (click)="onClose()">取消</button>
</div>




