@import '../../theme/global_theme';

@include nb-install-component() {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: nb-theme(text-caption-2-font-size);

  .copyright {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    color: nb-theme(text-hint-color);
  }

  .socials {
    a {
      padding: 0.4rem;
      color: nb-theme(text-hint-color);
      transition: color ease-out 0.1s;

      &:hover {
        color: nb-theme(text-basic-color);
      }
    }
  }

  @include media-breakpoint-down(is) {
    .socials {
      font-size: nb-theme(text-caption-2-font-size);
    }
  }
}
