<nz-card style="width:100%;" nzTitle="冷链设备">
  <form nz-form [formGroup]="queryForm" class="ant-advanced-search-form">
    <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="8">
          <nz-form-item nzFlex>
            <nz-form-label [nzLg]="5" [nzMd]="5" [nzXs]="24" nzFor="deviceName">设备名称</nz-form-label>
            <nz-form-control [nzLg]="12" [nzMd]="12" [nzXs]="24">
              <input
                nz-input
                nzSize="default"
                placeholder="请输入设备名称"
                formControlName="deviceName"
                id="deviceName"
              />
            </nz-form-control>
          </nz-form-item>
        </div>

      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzLg]="5" [nzMd]="5" [nzXs]="24" nzFor="status">状态</nz-form-label>
          <nz-form-control [nzLg]="12" [nzMd]="12" [nzXs]="24">
            <nz-select nzSize="large" nzShowSearch nzAllowClear nzPlaceHolder="请选择" id="status"
                       formControlName="status">
              <nz-option nzLabel="正常" nzValue="0"></nz-option>
              <nz-option nzLabel="待修" nzValue="1"></nz-option>
              <nz-option nzLabel="报废" nzValue="2"></nz-option>
              <nz-option nzLabel="停用" nzValue="3"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="mb-2">
        <button class="mr-2" nz-button [nzType]="'primary'" (click)="searchData(1)">查询</button>
        <button class="mr-2" nz-button [nzType]="'primary'" (click)="add()">新增</button>
        <button class="mr-2" nz-button [nzType]="'primary'" (click)="edit()">修改</button>
        <button nz-button [nzType]="'primary'" (click)="delete()">删除</button>
      </div>

    </div>

   <!-- <div nz-row>
      <div nz-col [nzSpan]="24" class="search-area">
        <button nz-button [nzType]="'primary'" (click)="searchData(1)">查询</button>
        <button nz-button [nzType]="'primary'" (click)="add()">新增</button>
        <button nz-button [nzType]="'primary'" (click)="edit()">修改</button>
        <button nz-button [nzType]="'primary'" (click)="delete()">删除</button>
      </div>
    </div>-->
  </form>
</nz-card>
<nz-card style="margin-top: 20px;">
  <nz-table #msgTable [nzData]="listOfData" nzBordered nzSize="small" nzSimple="false" [nzLoading]="loading"
            [nzFrontPagination]="false"
            [nzTotal]="total"
            [(nzPageIndex)]="pageIndex"
            [nzShowTotal]="totalTemplate"
            (nzPageIndexChange)="searchData($event)">
    <thead>
    <tr>
      <th
        nzShowCheckbox
        [(nzChecked)]="isAllDisplayDataChecked"
        [nzIndeterminate]="isIndeterminate"
        (nzCheckedChange)="checkAll($event)"
      ></th>
      <th [nzAlign]="'center'">设备编号</th>
      <th [nzAlign]="'center'">设备名称</th>
      <th [nzAlign]="'center'">品牌</th>
      <th [nzAlign]="'center'">型号</th>
      <th [nzAlign]="'center'">来源</th>
      <th [nzAlign]="'center'">状态</th>
      <th [nzAlign]="'center'">创建日期</th>
      <th [nzAlign]="'center'">创建者</th>
      <th [nzAlign]="'center'">更新日期</th>
      <th [nzAlign]="'center'">更新者</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of msgTable.data">
      <td
        nzShowCheckbox
        [(nzChecked)]="mapOfCheckedId[data.id]"
        (nzCheckedChange)="refreshStatus()"
      ></td>
      <td>{{data.facilityCode}}</td>
      <td>{{data.facilityName}}</td>
      <td>{{data.brand}}</td>
      <td>{{data.modelNumber}}</td>
      <td>{{data.source | dicPipe:'fixedAssetsSource'}}</td>
      <td>{{data.status | dicPipe:'facilityStatus'}}</td>
      <td>{{data.createDate |date: 'yyyy-MM-dd HH:mm:ss'}}</td>
      <td>{{data.createBy}}</td>
      <td>{{data.updateDate |date: 'yyyy-MM-dd HH:mm:ss'}}</td>
      <td>{{data.updateBy }}</td>
    </tr>
    </tbody>
  </nz-table>
</nz-card>

<ng-template #totalTemplate>
  共{{ total }}条数据，当前第{{ pageIndex }}页
</ng-template>


