<!--预约改期-->
<div class="wx-content-margin">
  预约改期
  <!--  <div class="pre-appoint-wrap">-->
  <!--    <h5>{{appointInfo['profileName']}}</h5>-->
  <!--    <div>预约日期: <span class="item-info">{{currentDateFormat(appointInfo['appointTime'], 'YYYY-MM-DD')}}</span></div>-->
  <!--    <div>预约时段: <span class="item-info">{{appointInfo['finalWorkingTime']}}</span></div>-->
  <!--    <div>疫苗名称: <span class="item-info">{{appointInfo['detailDatas'][0]['vaccineProductName'] || ''}}</span></div>-->
  <!--    <div>疫苗价格: <span class="item-info">{{appointInfo['detailDatas'][0]['price'] === 0 ? '免费' : '自费'}}</span></div>-->
  <!--  </div>-->

  <!--  <form [formGroup]="baseForm">-->
  <!--    <mat-list>-->
  <!--      <mat-list-item [arrow]="'horizontal'" Picker [extra]="appointInfo['appointTime']" [arrow]="'horizontal'"-->
  <!--                     [data]="appointDateArr" formControlName="appointTime"-->
  <!--                     (onPickerChange)="appointInfo['appointTime']=$event[0]"-->
  <!--                     (ngModelChange)="getAppointTimeRange($event)">-->
  <!--        预约日期:-->
  <!--      </mat-list-item>-->

  <!--      <mat-list-item [arrow]="'horizontal'" Picker [extra]="appointInfo['timeRange']" [arrow]="'horizontal'"-->
  <!--                     [data]="appointTimeArr" formControlName="timeRange"-->
  <!--                     (onPickerChange)="appointInfo['timeRange']=$event">-->
  <!--        预约时段:-->
  <!--      </mat-list-item>-->
  <!--    </mat-list>-->
  <!--  </form>-->
  <!--  <mat-divider></mat-divider>-->
  <!--  <mat-divider></mat-divider>-->
  <!--  <div Button [type]="'primary'" (onClick)="sureChange()">确定改期</div>-->
  <!--  <mat-divider></mat-divider>-->
</div>
