.am-list-item .am-textarea-item {
  border: 1px solid #999999 !important;
}

.submit-wrap .am-list-body {
  border: 1px solid #999999 !important;
}

.left-info {
  color: #999999;
  font-size: 14px;
}

.cell-left-title {
  margin-right: 10px;
}

.cell-wrap .weui-cell {
  height: 60px;
  position: relative;
}

.weui-uploader__bd {
  display: flex;
  flex-wrap: wrap;
}
