<div nz-row>
  <nz-card>
    <nz-tabset>
      <nz-tab nzTitle="个案信息统计">
        <div nz-row>
          <form nz-form [nzLayout]="'inline'" [formGroup]="queryForm">
            <div nz-row [nzGutter]="24">
              <div nz-col [nzSpan]="12">
                <nz-form-item nzFlex>
                  <nz-form-label [nzLg]="3" [nzMd]="3" [nzXs]="24" nzFor="address">地区名称</nz-form-label>
                  <nz-form-control [nzLg]="8" [nzMd]="8" [nzXs]="24">
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="请选择" id="address"
                               formControlName="address">
                      <nz-option [nzLabel]="item.name" [nzValue]="item.code+item.level"
                                 *ngFor="let item of addressData"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="12">
                <nz-form-item nzFlex>
                  <nz-form-label [nzLg]="3" [nzMd]="3" [nzXs]="24" nzFor="birthDay">出生日期</nz-form-label>
                  <nz-form-control [nzLg]="19" [nzMd]="19" [nzXs]="24">
                    <nz-date-picker [nzDisabledDate]="disabledbirthStart"
                                    formControlName="birthDayStart"></nz-date-picker>
                    至
                    <nz-date-picker [nzDisabledDate]="disabledbirthEnd" formControlName="birthDayEnd"></nz-date-picker>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
            <div nz-row [nzGutter]="24">
              <div nz-col [nzSpan]="12">
                <nz-form-item nzFlex>
                  <nz-form-label [nzLg]="3" [nzMd]="3" [nzXs]="24" nzFor="queryScope">查询范围</nz-form-label>
                  <nz-form-control [nzLg]="19" [nzMd]="19" [nzXs]="24">
                    <nz-checkbox-group formControlName="queryScope" [(ngModel)]="checkOptionsOne">
                    </nz-checkbox-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="12">
                <nz-form-item nzFlex>
                  <nz-form-label [nzLg]="3" [nzMd]="3" [nzXs]="24" nzFor="barcode">条码</nz-form-label>
                  <nz-form-control [nzLg]="19" [nzMd]="19" [nzXs]="24">
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="---请选择---"
                               style="width: 175px"
                               formControlName="barcode">
                      <nz-option nzLabel="已付款" nzValue="1">已付款</nz-option>
                      <nz-option nzLabel="未付款" nzValue="0">未付款</nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
            <div nz-row [nzGutter]="24">
              <div nz-col [nzSpan]="12">
                <nz-form-item nzFlex>
                  <nz-form-label [nzLg]="3" [nzMd]="3" [nzXs]="24" nzFor="createDate">建档日期</nz-form-label>
                  <nz-form-control [nzLg]="19" [nzMd]="19" [nzXs]="24">
                    <nz-date-picker [nzDisabledDate]="disableCreateDateStart"
                                    formControlName="createDateStart"></nz-date-picker>
                    至
                    <nz-date-picker [nzDisabledDate]="disabledCreateDateEnd"
                                    formControlName="createDateEnd"></nz-date-picker>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
            <nz-form-item>
              <nz-form-control>
                <button nz-button nzType="primary"  class="mr-2"  [nzLoading]="loading" (click)="query()">查询</button>
                <button nz-button nzType="primary" class="mr-2" >重置</button>
                <button nz-button nzType="primary" class="mr-2" >导出</button>
                <button nz-button nzType="primary">隐藏图表</button>
              </nz-form-control>
            </nz-form-item>

          </form>
        </div>
        <div nz-row>
          <nz-table #borderedTable nzBordered [nzPageIndex]="pageIndex" [nzTotal]="total"
                    [nzItemRender]="renderItemTemplate" [nzFrontPagination]="false" [nzData]="listOfData"
                    [nzLoading]="loading" (nzPageIndexChange)="$event">
            <thead>
            <tr>
              <th rowspan="2">地区名称</th>
              <th colspan="3">儿童数</th>
              <th colspan="3">本地儿童数</th>
              <th colspan="3">流动儿童数</th>
              <th colspan="3">临时儿童数</th>
            </tr>
            <tr>
              <th>男</th>
              <th>女</th>
              <th>小计</th>
              <th>男</th>
              <th>女</th>
              <th>小计</th>
              <th>男</th>
              <th>女</th>
              <th>小计</th>
              <th>男</th>
              <th>女</th>
              <th>小计</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of borderedTable.data">
              <td>{{ data.officeName }}</td>
              <td>{{ data.boyChildTotalNum }}</td>
              <td>{{ data.girlChildTotalNum }}</td>
              <td>{{ data.childTotalNum }}</td>
              <td>{{ data.localBoyChildTotalNum }}</td>
              <td>{{ data.localGirlChildTotalNum }}</td>
              <td>{{ data.localChildTotalNum }}</td>
              <td>{{ data.flowBoyChildTotalNum }}</td>
              <td>{{ data.flowGirlChildTotalNum }}</td>
              <td>{{ data.flowChildTotalNum }}</td>
              <td>{{ data.temBoyChildTotalNum }}</td>
              <td>{{ data.temGirlChildTotalNum }}</td>
              <td>{{ data.temChildTotalNum }}</td>
            </tr>
            </tbody>
          </nz-table>
          <ng-template #renderItemTemplate let-type let-page="page">
            <a *ngIf="type === 'pre'">上一页</a>
            <a *ngIf="type === 'next'">下一页</a>
            <a *ngIf="type === 'page'">{{ page }}</a>
          </ng-template>
        </div>
      </nz-tab>
    </nz-tabset>
  </nz-card>
</div>

