<div nz-row>
  <nz-card>
    <nz-tabset [(nzSelectedIndex)]="tabIndex" (nzSelectedIndexChange)="tabIndexChange($event)">
      <nz-tab nzTitle="个案信息抽查">
        <div nz-row>
          <form nz-form [nzLayout]="'inline'" [formGroup]="queryForm">
            <div nz-row [nzGutter]="24">
              <div nz-col [nzSpan]="8">
                <nz-form-item nzFlex>
                  <nz-form-label [nzLg]="5" [nzMd]="5" [nzXs]="24" nzFor="address">地区名称</nz-form-label>
                  <nz-form-control [nzLg]="10" [nzMd]="10" [nzXs]="24">
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="请选择" id="address"
                               formControlName="address">
                      <nz-option [nzLabel]="item.name" [nzValue]="item.code+item.level"
                                 *ngFor="let item of addressData"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="8">
                <nz-form-item nzFlex>
                  <nz-form-label [nzLg]="5" [nzMd]="5" [nzXs]="24" nzFor="exportPage">导出页码</nz-form-label>
                  <nz-form-control [nzLg]="10" [nzMd]="10" [nzXs]="24">
                    <input nz-input formControlName="exportPageStart" style="width: 70px;"/>
                    ~
                    <input nz-input formControlName="exportPageEnd" style="width: 70px;"/>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="8">
                <nz-form-item nzFlex>
                  <nz-form-label [nzLg]="5" [nzMd]="5" [nzXs]="24" [nzNoColon]="true" nzFor="">导出信息</nz-form-label>
                  <nz-form-control [nzLg]="19" [nzMd]="19" [nzXs]="24">
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
            <div nz-row [nzGutter]="24">
              <div nz-col [nzSpan]="8">
                <nz-form-item nzFlex>
                  <nz-form-label [nzLg]="5" [nzMd]="5" [nzXs]="24" nzFor="name">姓名</nz-form-label>
                  <nz-form-control [nzLg]="10" [nzMd]="10" [nzXs]="24">
                    <input nz-input formControlName="name"/>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="8">
                <nz-form-item nzFlex>
                  <nz-form-label [nzLg]="5" [nzMd]="5" [nzXs]="24" nzFor="birthDate">出生日期</nz-form-label>
                  <nz-form-control [nzLg]="19" [nzMd]="19" [nzXs]="24">
                    <nz-date-picker formControlName="birthDayStart" style="width: 120px;"></nz-date-picker>
                    至
                    <nz-date-picker formControlName="birthDayEnd" style="width: 120px;"></nz-date-picker>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="8">
                <nz-form-item nzFlex>
                  <nz-form-label [nzLg]="5" [nzMd]="5" [nzXs]="24" nzFor="gender">性别</nz-form-label>
                  <nz-form-control [nzLg]="10" [nzMd]="10" [nzXs]="24">
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="---请选择---"
                               style="width: 175px"
                               formControlName="gender">
                      <nz-option nzLabel="男" nzValue="1">男</nz-option>
                      <nz-option nzLabel="女" nzValue="0">女</nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
            <div nz-row [nzGutter]="24">
              <div nz-col [nzSpan]="8">
                <nz-form-item nzFlex>
                  <nz-form-label [nzLg]="5" [nzMd]="5" [nzXs]="24" nzFor="childCode">儿童编码</nz-form-label>
                  <nz-form-control [nzLg]="10" [nzMd]="10" [nzXs]="24">
                    <input nz-input formControlName="childCode"/>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="8">
                <nz-form-item nzFlex>
                  <nz-form-label [nzLg]="5" [nzMd]="5" [nzXs]="24" nzFor="motherName">母亲姓名</nz-form-label>
                  <nz-form-control [nzLg]="10" [nzMd]="10" [nzXs]="24">
                    <input nz-input formControlName="motherName"/>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="8">
                <nz-form-item nzFlex>
                  <nz-form-label [nzLg]="5" [nzMd]="5" [nzXs]="24" nzFor="fatherName">父亲姓名</nz-form-label>
                  <nz-form-control [nzLg]="10" [nzMd]="10" [nzXs]="24">
                    <input nz-input formControlName="fatherName"/>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
            <div nz-row [nzGutter]="24">
              <div nz-col [nzSpan]="8">
                <nz-form-item nzFlex>
                  <nz-form-label [nzLg]="5" [nzMd]="5" [nzXs]="24" nzFor="motherId">母亲身份证</nz-form-label>
                  <nz-form-control [nzLg]="10" [nzMd]="10" [nzXs]="24">
                    <input nz-input formControlName="motherId"/>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="8">
                <nz-form-item nzFlex>
                  <nz-form-label [nzLg]="5" [nzMd]="5" [nzXs]="24" nzFor="fatherId">父亲身份证</nz-form-label>
                  <nz-form-control [nzLg]="10" [nzMd]="10" [nzXs]="24">
                    <input nz-input formControlName="fatherId"/>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
            <div nz-row [nzGutter]="24">
              <div nz-col [nzSpan]="8">
                <nz-form-item nzFlex>
                  <nz-form-label [nzLg]="5" [nzMd]="5" [nzXs]="24" nzFor="immunityVacCard">免疫卡号</nz-form-label>
                  <nz-form-control [nzLg]="10" [nzMd]="10" [nzXs]="24">
                    <input nz-input formControlName="immunityVacCard"/>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="8">
                <nz-form-item nzFlex>
                  <nz-form-label [nzLg]="5" [nzMd]="5" [nzXs]="24" nzFor="ticketNo">票据编号</nz-form-label>
                  <nz-form-control [nzLg]="10" [nzMd]="10" [nzXs]="24">
                    <input nz-input formControlName="ticketNo"/>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="8">
                <nz-form-item nzFlex>
                  <nz-form-label [nzLg]="5" [nzMd]="5" [nzXs]="24" [nzNoColon]="true" nzFor="">其他条件</nz-form-label>
                  <nz-form-control [nzLg]="19" [nzMd]="19" [nzXs]="24">
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
            <div nz-row [nzGutter]="24">
              <div nz-col [nzSpan]="8">
                <nz-form-item nzFlex>
                  <nz-form-label [nzLg]="5" [nzMd]="5" [nzXs]="24" nzFor="childStatus">儿童状态</nz-form-label>
                  <nz-form-control [nzLg]="19" [nzMd]="19" [nzXs]="24">
                    <nz-checkbox-group formControlName="childStatus" [(ngModel)]="checkOptionsOne">
                    </nz-checkbox-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="8">
                <nz-form-item nzFlex>
                  <nz-form-label [nzLg]="5" [nzMd]="5" [nzXs]="24" nzFor="changeDate">变更时间</nz-form-label>
                  <nz-form-control [nzLg]="19" [nzMd]="19" [nzXs]="24">
                    <nz-date-picker formControlName="changeDatetart" style="width: 120px;"></nz-date-picker>
                    至
                    <nz-date-picker formControlName="changeDateEnd" style="width: 120px;"></nz-date-picker>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
            <div nz-row [nzGutter]="24">
              <div nz-col [nzSpan]="8">
                <nz-form-item nzFlex>
                  <nz-form-label [nzLg]="5" [nzMd]="5" [nzXs]="24" nzFor="otherAttributes">其他属性</nz-form-label>
                  <nz-form-control [nzLg]="19" [nzMd]="19" [nzXs]="24">
                    <nz-checkbox-wrapper style="hight: 100%;">
                      <div nz-row style="line-height: 40px;">
                        <div nz-col><label nz-checkbox nzValue="家庭接种" formControlName="otherAttributes">家庭接种</label>
                        </div>
                      </div>
                    </nz-checkbox-wrapper>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="8">
                <nz-form-item nzFlex>
                  <nz-form-label [nzLg]="5" [nzMd]="5" [nzXs]="24" nzFor="randomCheckCount">随机抽查数</nz-form-label>
                  <nz-form-control [nzLg]="5" [nzMd]="5" [nzXs]="24">
                    <input nz-input formControlName="randomCheckCount"/>
                  </nz-form-control>
                  <nz-form-label style="line-height: 40px;">(总数:999799,请输入1-100的整数)</nz-form-label>
                </nz-form-item>
              </div>
            </div>
            <nz-form-item>
              <nz-form-control>
                <button nz-button nzType="primary" (click)="query()">查询</button>
                <button nz-button nzType="primary">重置</button>
                <button nz-button nzType="primary">导出</button>
                <button nz-button nzType="primary">隐藏图表</button>
              </nz-form-control>
            </nz-form-item>

          </form>
        </div>
        <div nz-row>
          <nz-table #borderedTable nzBordered [nzPageIndex]="pageIndex" [nzTotal]="total"
                    [nzItemRender]="renderItemTemplate" [nzFrontPagination]="false" [nzData]="listOfData"
                    (nzPageIndexChange)="query($event)">
            <thead>
            <tr>
              <th>儿童编码</th>
              <th>免疫卡号</th>
              <th>姓名</th>
              <th>性别</th>
              <th>出生日期</th>
              <th>母亲姓名</th>
              <th>母亲身份证号</th>
              <th>父亲姓名</th>
              <th>父亲身份证号</th>
              <th>现住址</th>
              <th>居住属性</th>
              <th>在册情况</th>
              <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of borderedTable.data">
              <td>{{ data.profileCode }}</td>
              <td>{{ data.immunityVacCard }}</td>
              <td>{{ data.name }}</td>
              <td>{{ data.gender | dicPipe: 'genderCode' }}</td>
              <td>{{ data.birthDate | date:'yyyy-MM-dd'  }}</td>
              <td>{{ data.motherName }}</td>
              <td>{{ data.motherIdCardNo }}</td>
              <td>{{ data.fatherName }}</td>
              <td>{{ data.fatherIdCardNo }}</td>
              <td>{{ data.idCardDetail }}</td>
              <td>{{ data.residentialTypeCode | dicPipe: 'residentialType' }}</td>
              <td>{{ data.profileStatusCode | dicPipe: 'profileStatus' }}</td>
              <td><a href="javascript:" class="link-a mr-1" (click)="update(data)">浏览</a>
            </tr>
            </tbody>
          </nz-table>
          <ng-template #renderItemTemplate let-type let-page="page">
            <a *ngIf="type === 'pre'">上一页</a>
            <a *ngIf="type === 'next'">下一页</a>
            <a *ngIf="type === 'page'">{{ page }}</a>
          </ng-template>
        </div>
      </nz-tab>

      <nz-tab *ngIf="isShow" [nzTitle]="'个案信息查询修改'">
        <uea-profile-update [(tabIndex)]="tabIndex" [profiledata]="profiledata"></uea-profile-update>
      </nz-tab>
    </nz-tabset>
  </nz-card>
</div>

