<nb-card>
  <nb-card-header>
    手机号码认证
    <span class="cursor-pointer" (click)="saveDialog(false)"><i class="far fa-times-circle"></i></span>
  </nb-card-header>
  <nb-card-body>
    <form>
      <div>解绑后, 您将无法再使用此手机号进行找回密码及登录相关操作.</div>
      <div class="form-group row">
        <label class="col-4 col-form-label">已绑定号码:</label>
        <div class="col-8">
          <div>{{phoneNumber}}</div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-4 col-form-label">输入新号码:</label>
        <div class="col-8">
          <input type="text" placeholder="请输入您的手机号码" fullWidth nbInput name="telPhone" [(ngModel)]="telPhone">
        </div>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton status="info" (click)="saveDialog(false)">取消</button>
    <button nbButton status="info" (click)="saveDialog(true)">保存</button>
  </nb-card-footer>
</nb-card>
