@import '../../../../@uea/theme/global_theme';
// @import '~bootstrap/scss/mixins/_breakpoints';
// @import '~@nebular/theme/styles/global/_breakpoints';

@include nb-install-component() {
	nb-card {
		width: 700px;
		nb-card-body {
			.content {
				.form-content {
					font-size: 20px;
				}
				.star-required {
					color: nb-theme(color-danger-500);
				}
			}

			nb-radio-group {
				display: flex;
			}
		}

		nb-card-footer {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
	}
}
