<nb-layout>
  <nb-layout-column>
    <nb-card>
      <nb-card-header>
        <div>
          <img src="../../../../assets/images/login/logo.png" alt="logo">
          智慧接种
        </div>
      </nb-card-header>
      <nb-card-body>
        <!-- <nb-auth-block> -->
        <router-outlet></router-outlet>
        <!-- </nb-auth-block> -->
      </nb-card-body>
      <nb-card-footer>
        版权所有 Copyright &copy; 2017-2020 - Powered By <a href="http://www.chinavacc.com" target="_blank"><b>智慧接种</b></a>
      </nb-card-footer>
    </nb-card>
  </nb-layout-column>
</nb-layout>
