<div class="login-panel">
  <div class="panel-left">
    <div class="h4 text-center panel-left-title">
      智慧预防接种平台2.0</div>
  </div>
  <div class="panel-right">
    <div class="h4 panel-right-title">欢迎使用</div>
    <div (click)="login()" class="panel-content-card">
      <img src="../../../../assets/images/login/shield.png" alt="">
      <strong class="ml-3">奇兵通行证登录</strong>
    </div>
    <nz-divider nzText="其它方式登录"></nz-divider>
    <div class="panel-content-card other-login" role="xxx">
      <img class="wxicon" src="../../../../../assets/icons/login/wechat.svg" alt="WeChat微信登录">
      <img class="ddicon" status="info" src="../../../../../assets/icons/login/dingding.svg" alt="DingDing钉钉登录">
    </div>
  </div>
</div>
