<nz-card style="width:100%;" nzTitle="盘点计划">
  <form nz-form [formGroup]="queryForm">
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="6">
        <nz-form-item class="m-0">
          <nz-form-label [nzSpan]="8" nzFor="serialCode">盘点编号</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <input type="text" nz-input id="serialCode"
                   formControlName="serialCode">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item class="m-0">
          <nz-form-label [nzSpan]="8" nzFor="checkUser">盘点人员</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <input type="text" nz-input id="checkUser"
                   formControlName="checkUser">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item class="m-0">
          <nz-form-label [nzSpan]="8" nzFor="checkName">盘点名称</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <input type="text" nz-input id="checkName"
                   formControlName="checkName">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item class="m-0">
          <nz-form-label [nzSpan]="8" nzFor="planStatus">盘点状态</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <input type="text" nz-input id="planStatus"
                   formControlName="planStatus">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24">

      <div nz-col [nzSpan]="6">
        <nz-form-item class="m-0">
          <nz-form-label [nzSpan]="8" nzFor="startTime">开始时间</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <nz-date-picker [nzDisabledDate]="disabledStartDate"
                            formControlName="startTime" id="startTime" nzPlaceHolder="选择时间"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item class="m-0">
          <nz-form-label [nzSpan]="8" nzFor="endTime">结束时间</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <nz-date-picker [nzDisabledDate]="disabledEndDate"
                            formControlName="endTime" id="endTime" nzPlaceHolder="选择时间"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
  <div class="mb-2">
    <button class="mr-2" nz-button [nzType]="'primary'" (click)="queryData()">查询</button>
    <button class="mr-2" nz-button [nzType]="'primary'" (click)="reset()">重置</button>
  </div>
  <nz-table nzBordered #batch
            [nzFrontPagination]="false"
            [nzTotal]="total"
            [(nzPageIndex)]="pageIndex"
            [nzShowTotal]="totalTemplate"
            [nzLoading]="loading"
            [nzData]="listOfData"
            (nzPageIndexChange)="queryData($event)"
            nzSize="small">
    <thead>
    <tr>
      <th [nzAlign]="'center'">编号</th>
      <th [nzAlign]="'center'">操作</th>
      <th [nzAlign]="'center'">盘点名称</th>
      <th [nzAlign]="'center'">盘点日期</th>
      <th [nzAlign]="'center'">盘点人员</th>
      <th [nzAlign]="'center'">盘点编号</th>
      <th [nzAlign]="'center'">盘点状态</th>
      <th [nzAlign]="'center'">备注</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of batch.data;index as i">
      <td [nzAlign]="'center'">{{ i + 1 + (pageIndex - 1) * pageSize }}</td>
      <td [nzAlign]="'center'">
        <a href="javascript:void(0)" class="link-a-highlight" (click)="delete(data)">删除</a>
      </td>
      <td [nzAlign]="'center'">{{ data.checkName }}</td>
      <td [nzAlign]="'center'">{{ data.checkDate | date: 'yyyy-MM-dd' }}</td>
      <td [nzAlign]="'center'">{{ data.checkUser | povStaffNamePipe | async }}</td>
      <td [nzAlign]="'center'"><a href="javascript:" class="link-a-highlight" (click)="detail(data)">{{ data.serialCode }}</a></td>
      <td [nzAlign]="'center'">{{ data.planStatus | dicPipe: 'pfPlanStatus' }}</td>
      <td [nzAlign]="'center'">{{ data.memo }}</td>
    </tr>
    </tbody>
  </nz-table>
  <ng-template #totalTemplate>
    共{{ total }}条数据，当前第{{ pageIndex }}页
  </ng-template>
</nz-card>



